root = true

[*.java]
charset = utf-8
indent_style = space
indent_size = 4
continuation_indent_size = 8
max_line_length = 120
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.gradle]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.properties]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.json]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.csv]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{md,yml,yaml,toml}]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
